body {
    margin: 0;
    display: flex;
    flex-direction: column;
    font-size: 1vw;
  }
  
  nav {
    display: flex;
    height: 3em;
    width: 100%;
    background-color: #0F1111;
    color: white;
    font-size: 1.2em;
    align-items: center; 
    h2{
      margin-left: 2%;
    }

  }
  



  a {
        margin-right: 1%;
        padding: 1%;
        text-decoration: none;
        color: white;
        background-color: transparent;
        transition: background-color 0.5s ease;
        margin-top: 50%;
        font-size: 1.2em;
        border-radius: 10px;
      }
      
 a:hover {
        background-color: #438a8a;
      }
      
  
  .nav-links {
    margin-left: auto;
    width: 20%;
    word-spacing: 0.06em;
  }
  




  .mid{

    display: flex;
    flex-direction: row;
  }
  .aside {
    width: 30%;
    display: flex;
    flex-direction: row;
    
    align-items:flex-start;
    background-color: #222c2c;
    color: white;
    font-size: 1.2em;
    height: 100vh;


    .aside-links{
        width: auto;
        flex-wrap: wrap;
        margin-left: 4%;
        display: flex;
    flex-direction: column;
        text-align: left;
    text-decoration: none;
    color: white;
   
    a{
        padding: 0;
        width: auto;
        text-align: center;
        flex-wrap: nowrap;

    }
    

}
    }
  




    .form{
      width: 60%;
      padding: 4%;
      
    }
    form {
      display: flex;
      flex-direction: column;
			border: 2px solid #ccc;
			background-color: #f2f2f2;
			padding: 4%;
			border-radius: 15px;
			margin: 0 auto;
      margin-bottom: 3%;
		}

    input[type="text"], input[type="email"], input[type="tel"], input[type="address"] {
      padding: .5% .5% .5% .5%;
      height: 3vw;
      width:30%;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      margin-bottom: 4%;
     
      
    }
    
		button[type="submit"] {
			background-color: #4CAF50;
			color: white;
			padding: 1%;
      font-size: 1em;
			border: none;
			border-radius: 4px;
			cursor: pointer;
			
      width: 30%;
		}

		button[type="submit"]:hover {
			background-color: #45a049;
		}

  footer{
    margin: 0;
    height: 2.5em;
    width: 100%;
    background-color: #0F1111;
    color: white;
    font-size: 1.2em;
    align-items: center; 
    text-align: center;
    justify-content: center;
    font-size: 1.5em;
    padding-bottom: 1%;
    p{
        margin-bottom: 0;
        
    }
  }